numpy
pandas
matplotlib
scipy
soundfile
streamlit
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-core
tqdm
python-dotenv
pyyaml
scikit-learn
plotly

openai
numpy
pandas
scipy
matplotlib
seaborn
streamlit
pyarrow
fastparquet
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-core
openai
tqdm
python-dotenv
scikit-learn
soundfile
librosa
numba
torch
torchaudio
